

            .v-divider {
                border-right: 1px solid #34485c;
                height:15px;
                
                margin-top:14px;
            }
            .shadow{
                box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.90);
            }
            .ui-middle{
                padding:40px;
                margin-top:250px;
            }
            .svg-logo path ,polygon{
                fill:#34485c;
            }
            .svg-logo{
                width : 160px;
            }